[submodule "themes/scarecrow"]
	path = themes/scarecrow
	url = git@github.com:strootje/hugo-scarecrow-theme.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:strootje/strootje.github.io.git
[submodule "scarecrow"]
	path = scarecrow
	url = git@github.com:strootje/hugo-scarecrow-theme.git
