language: node_js
node_js: node
cache: npm

before_script:
- sudo apt-get install -qq hugo

script:
- npm run build

deploy:
  provider: pages
  repo: strootje/strootje.github.io
  github-token: $GITHUB_TOKEN
  keep-history: true
  skip-cleanup: true
  local-dir: ./public
  on:
    branch: master
