language: node_js
node_js: node
cache: npm

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8

script:
- npm run build

deploy:
  provider: pages
  repo: strootje/strootje.github.io
  github-token: $GITHUB_TOKEN
  keep-history: true
  skip-cleanup: true
  local-dir: ./public
  on:
    branch: master
